{% load material_form %}
{% load i18n %}
{% load staticfiles %}
{% include 'head.html' %}
{% include 'nav2.html' %}
{% block content %}
<br/>
<br/>
<br/>
<div class="row center">
    <h3 class="">
        Bienvenido a Wash me
    </h3>
    <h4>
        Inicia sesión
    </h4>
</div>
<br/>
<div class="row">
    <div class="container">
        <div class=" col s12 m6 l6 ">
            <h4>
                Con tus redes sociales
            </h4>
            <br/>
            <br/>
            <br/>
            <br/>
            <a class="waves-effect waves-light btn-large" href="{% url 'social:begin' 'twitter' %}">
                <i class="fa fa-twitter">
                </i>
                {% trans 'Iniciar con Twitter ' %}
            </a>
        </div>
        <div class="col s12 m6 l6 ">
            <h4 class="center">
                Con tu Email
            </h4>
            <form action="." method="post">
                {% csrf_token %}
                {% form form=form %}  {% endform %}
                <input class="btn" type="submit" value="{% trans 'Log in' %}"/>
                <input name="next" type="hidden" value="{{ next }}"/>
                <a class="waves-effect waves-teal btn-flat" href="{% url 'auth_password_reset' %}">
                    He olvidado mi contraseña ?
                </a>
            </form>
        </div>
    </div>
</div>
<div class="col s6 m6 l6">
    <a href="{% url 'auth_password_reset' %}">
        He olvidado mi contraseña ?
    </a>
    <a href="{% url 'registration_register' %}">
        Abre una cuenta
    </a>
</div>
{% include 'js.html' %}
{% include 'footer.html' %}
{% endblock %}
