{% extends "layout.pug" %}
{% load material_form %}
{% load i18n %}
{% block content %}
<h3>
    {% trans 'Log in' %}
</h3>
<div>
    <form method="post" action=".">
        {% csrf_token %}
        {% form form=form %}  {% endform %}
        <input class="waves-effect waves-light btn-large" type="submit" value="{% trans 'Log in' %}" class="btn"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    <p>
        <a  href="{% url 'auth_password_reset' %}  ">
            {% trans 'Forgot account ?' %}
        </a>
    </p>
    <p>
        {% trans 'Do not have an account' %} ?
        <a href="{% url 'registration_register' %}">
            {% trans "Sign up" %}
        </a>
    </p>
</div>
{% block main %}
<div>
    <br/>
</div>
<div class="row">
    <div class=" col s6 m6 l6 ">
        <p>
            <strong>
                -- OR --
            </strong>
        </p>
        <a class="waves-effect waves-light btn-large" href="{% url 'social:begin' 'twitter' %}">
            <i class="fa fa-twitter">
            </i>
            {% trans 'Login with Twitter ' %}
        </a>
    </div>
    <div class="col s6 m6 l6  ">
        <p>
            <strong>
                -- Trabajar  --
            </strong>
        </p>
        <a class="waves-effect waves-light btn-large" href="">
            <i class="fa fa-address-card-o" aria-hidden="true">
            </i>
            {% trans 'washer' %}
        </a>
    </div>
</div>
{% endblock %}
{% endblock %}
