{% load i18n %}
{% load staticfiles %}


{% load material_form %}
{% include 'head.html' %}
{% include 'nav2.html' %}

{% load i18n %}
{% block content %}
<div class="container">
    <br>
        <br>
            <br>
                <br>
                    <form action="." method="post">
                        {% csrf_token %} 
    {% form form=form %}  {% endform %}
                        <input class="btn" type="submit" value="{% trans 'Submit' %}"/>
                    </form>
                </br>
            </br>
        </br>
    </br>
</div>
{% include 'js.html' %}
{% endblock %}
