
{% load material_form %}
{% load i18n %}
{% load staticfiles %}
{% include 'head.html' %}
{% include 'nav2.html' %}

{% block content %}

<br>
<br>
<br>
<br>

<div class="row" >
	<div class="center" >
       <img class="center"  src="{% static '/img/paper-plane.svg' %}" alt="Smiley face" height="25%" width="25%">
	</div>
</div>


<div class="row" >
	<div class="center">
		
			<span class="" >
				You have registered. We've sent you an email 
				with a link to activate your account.
			</span>
		
	</div>
</div>



{% endblock %}