<div class="row">
    <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
        
            
                <h5 id='valor' class="center-align">$ 29.999</h5>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <select id="id_hours" onchange="myChangeFunction()" >
                            <option value="1" selected>2 horas</option>
                            <option value="2">4 horas</option>
                            <option value="3">8 horas</option>
                        </select>
                          <input type="text" class="datepicker">
                    </div>
                </div>


                <input name="buttonId" type="hidden" value="VgDL7MJqt+GBWo8uoFOIhaTqSLyNVHsRsuDVZWQb1ysk4Ni4w53s+A==" id="buttonId"/>
                <input name="merchantId" type="hidden" value="507148"/>
                <input name="accountId" type="hidden" value="679856"/>
                <input name="description" type="hidden" value="bolsa de 2 horas " id="description"/>
                <input name="referenceCode" type="hidden" value="was30" id="referenceCode"/>
                <input name="amount" type="hidden" value="30000" id="amount"/>
                <input name="tax" type="hidden" value="0"/>
                <input name="taxReturnBase" type="hidden" value="0"/>
                <input name="shipmentValue" value="0" type="hidden"/>
                <input name="currency" type="hidden" value="COP"/>
                <input name="lng" type="hidden" value="es"/>
                <input name="approvedResponseUrl" type="hidden" value="http://127.0.0.1:8000/"/>
                <input name="declinedResponseUrl" type="hidden" value="http://127.0.0.1:8000/x"/>
                <input name="pendingResponseUrl" type="hidden" value="http://127.0.0.1:8000/y"/>
                <input name="displayShippingInformation" type="hidden" value="NO"/>
                <input id="urlOrigen" name="sourceUrl" value="" type="hidden"/>
                <input name="buttonType" value="SIMPLE" type="hidden"/>
                <input name="signature" value="5f559e872c134fa086be94c8e524dbefb57f60fc961d7a11e3404fce248bacf2" type="hidden" id="signature"/>
                <div class="row">
                    <div class="col m12 s12">
                        <button type="submit"  class="waves-effect light-green waves-light btn rounded center-align" ><i class="material-icons right">send</i>Solicitar Servicio
                        </button>
                    </div>
                </div>
            
        
    </form>
</div>




















                <div class="row">
                    <div class="input-field col s12 m12">
                        <select id="id_hours" onchange="myChangeFunction()" >
                            <option value="1" selected>2 horas</option>
                            <option value="2">4 horas</option>
                            <option value="3">8 horas</option>
                        </select>
                          <input type="text" class="datepicker">
                    </div>
                </div>


                <input name="buttonId" type="hidden" value="VgDL7MJqt+GBWo8uoFOIhaTqSLyNVHsRsuDVZWQb1ysk4Ni4w53s+A==" id="buttonId"/>
                <input name="merchantId" type="hidden" value="507148"/>
                <input name="accountId" type="hidden" value="679856"/>
                <input name="description" type="hidden" value="bolsa de 2 horas " id="description"/>
                <input name="referenceCode" type="hidden" value="was30" id="referenceCode"/>
                <input name="amount" type="hidden" value="30000" id="amount"/>
                <input name="tax" type="hidden" value="0"/>
                <input name="taxReturnBase" type="hidden" value="0"/>
                <input name="shipmentValue" value="0" type="hidden"/>
                <input name="currency" type="hidden" value="COP"/>
                <input name="lng" type="hidden" value="es"/>
                <input name="approvedResponseUrl" type="hidden" value="http://127.0.0.1:8000/"/>
                <input name="declinedResponseUrl" type="hidden" value="http://127.0.0.1:8000/x"/>
                <input name="pendingResponseUrl" type="hidden" value="http://127.0.0.1:8000/y"/>
                <input name="displayShippingInformation" type="hidden" value="NO"/>
                <input id="urlOrigen" name="sourceUrl" value="" type="hidden"/>
                <input name="buttonType" value="SIMPLE" type="hidden"/>
                <input name="signature" value="5f559e872c134fa086be94c8e524dbefb57f60fc961d7a11e3404fce248bacf2" type="hidden" id="signature"/>
