<footer id="footer" class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l8 offset-m2 offset-l2 center">
            	<a href="index.html"><h5>Encuentranos En </h5></a>
                <div class="clearfix"></div>
                <ul class="list-inline footer-social">
                    <li><a href=" " target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul><span class="copyrights">© 2017. Made with <i class="ion-android-favorite"></i> by NEEWOI<img id="icon_mark" ></span>
            </div>
        </div>
    </div>
</footer>