| {% extends "layout.pug" %}
| {% load i18n %}
| {% load material_form %}
| {% block content %}
.row
	.col.s12
		.card-panel.grey.lighten-4
			form.material(method='post')
				| {% csrf_token %}
				| {% form form=form %}  {% endform %}
				button.btn.waves-effect.waves-light(type='submit', name='action')
					| Submit
					i.material-icons.right send
| {% include 'geo.html' %}
| {% endblock %}






