| {% extends "layout.pug" %}
| {% load i18n %}

{% block content %}
br
h5 Horas : {{ object.hours }}
br
h5 {% trans 'Fecha de Limpiesa' %}  : {{ object.date_delivery }}
br
h5 Hora de Entrada : {{ object.time_entry }}
br
h5 Direccion : {{ object.direction }}
br
h5 Fecha de Creacion : {{ object.timestamp }}

{% endblock %}