|{% extends "layout.pug" %}
|{% load i18n %}
|{% load static %}


|{% block content %}
div
	| {% for object in object_list %}
	.row
		.col.s12.m6.push-m3
			.card
				.card-image
					img(src="/media/{{ object.the_whasher.image }}",width='100%' ,max-width='640px' )

					span.card-title {{ object.direction }}

					a.btn-floating.halfway-fab.waves-effect.waves-light.red(href='{{ object.get_absolute_url }}')
						i.material-icons add
				.card-content
					p

						|{{ object.the_whasher.first_name }}

	div
		| {% empty %}
		p no hay nada 


|{% endfor %}


.fixed-action-btn
	a.btn-floating.btn-large.red(href="{% url 'new_service' %}")
		i.large.material-icons add
	
|{% endblock %}
