{% extends "layout.pug" %}
{% load i18n %}

{% block content %}
br
h2 Borrar
h3 {{ object }}
br
br
form(method='POST',action='')
	{% csrf_token %}
	input.btn(type="submit",value='Confirmar')
	a.btn(href="{{ object.get_absolute_url }}") Canclear
{% endblock %}
