|{% extends "layout.pug" %}
|{% load i18n %}
|{% load static %}

|{% block content %}
div
	| {% for object in object_list %}
	.row
		.col.s12.m6
			.card
				.card-image
					img(src="{% static '/img/m.png' %}")
					span.card-title {{ object.direction }}
					a.btn-floating.halfway-fab.waves-effect.waves-light.red(href='{{ object.get_absolute_url }}')
						i.material-icons add
				.card-content
					p
						| {{ object.owner.username }}
	div
		| {% empty %}
		p no hay nada 


|{% endfor %}


.fixed-action-btn
	a.btn-floating.btn-large.red(href="{% url 'new_service' %}")
		i.large.material-icons add
	
|{% endblock %}
