| {% extends "layout.pug" %}
| {% load i18n %}
| {% load static %}
| {% block content %}
.row
  .center
    img.center(src="{% static '/img/send.svg' %}", alt='Smiley face', height='35%', width='35%')
.row
  .center
    span
      | We've sent you an email.

| {% endblock %}






