<!DOCTYPE html>
<html lang="en" style="-webkit-box-sizing: border-box;box-sizing: border-box;font-family: &quot;Roboto&quot;, sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;line-height: 1.5;font-weight: normal;color: rgba(0,0,0,0.87);">
<head style="-webkit-box-sizing: inherit;box-sizing: inherit;">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
  
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" style="-webkit-box-sizing: inherit;box-sizing: inherit;">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" style="-webkit-box-sizing: inherit;box-sizing: inherit;">
</head>
<body style="-webkit-box-sizing: inherit;box-sizing: inherit;margin: 0;">

  <div class="section no-pad-bot" id="index-banner" style="-webkit-box-sizing: inherit;box-sizing: inherit;padding-top: 1rem;padding-bottom: 0;">
    <div class="container" style="-webkit-box-sizing: inherit;box-sizing: inherit;margin: 0 auto;max-width: 1280px;width: 90%;">
      <br style="-webkit-box-sizing: inherit;box-sizing: inherit;"><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
      
      <div class="row center" style="-webkit-box-sizing: inherit;box-sizing: inherit;text-align: center;margin-left: -.75rem;margin-right: -.75rem;margin-bottom: 20px;">
        <h5 class="header col s12 light" style="-webkit-box-sizing: border-box;box-sizing: border-box;font-weight: 300;line-height: 110%;font-size: 1.64rem;margin: .82rem 0 .656rem 0;float: left;padding: 0 .75rem;min-height: 1px;width: 100%;margin-left: auto;left: auto;right: auto;">hola {} {}</h5>
        <br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
        <h5 class="header col s12 light" style="-webkit-box-sizing: border-box;box-sizing: border-box;font-weight: 300;line-height: 110%;font-size: 1.64rem;margin: .82rem 0 .656rem 0;float: left;padding: 0 .75rem;min-height: 1px;width: 100%;margin-left: auto;left: auto;right: auto;">Gracias Por Contactarnos Nos Comunicaremos con Tigo </h5>
      </div>
      
      <br style="-webkit-box-sizing: inherit;box-sizing: inherit;"><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">

    </div>
  </div>


  <div class="container" style="-webkit-box-sizing: inherit;box-sizing: inherit;margin: 0 auto;max-width: 1280px;width: 90%;">
    <div class="section" style="-webkit-box-sizing: inherit;box-sizing: inherit;padding-top: 1rem;padding-bottom: 1rem;">



    </div>
    <br style="-webkit-box-sizing: inherit;box-sizing: inherit;"><br style="-webkit-box-sizing: inherit;box-sizing: inherit;">
  </div>

  <footer class="page-footer green accent-3" style="-webkit-box-sizing: inherit;box-sizing: inherit;display: block;padding-top: 20px;color: #fff;background-color: #00E676 !important;">
    <div class="container" style="-webkit-box-sizing: inherit;box-sizing: inherit;margin: 0 auto;max-width: 1280px;width: 90%;">
      <div class="row" style="-webkit-box-sizing: inherit;box-sizing: inherit;margin-left: -.75rem;margin-right: -.75rem;margin-bottom: 20px;">
        <div class="col l6 s12" style="-webkit-box-sizing: border-box;box-sizing: border-box;float: left;padding: 0 .75rem;min-height: 1px;width: 50%;margin-left: auto;left: auto;right: auto;">
          <h1 class="white-text" style="-webkit-box-sizing: inherit;box-sizing: inherit;font-weight: 400;line-height: 110%;font-size: 1.64rem;margin: .82rem 0 .656rem 0;color: #fff !important;">Company Bio</h1>
         


        </div>

      </div>
    </div>
    <div class="footer-copyright" style="-webkit-box-sizing: inherit;box-sizing: inherit;overflow: hidden;min-height: 50px;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;padding: 10px 0px;color: rgba(255,255,255,0.8);background-color: rgba(51,51,51,0.08);font-weight: 300;">
      <div class="container" style="-webkit-box-sizing: inherit;box-sizing: inherit;margin: 0 auto;max-width: 1280px;width: 90%;">
      Made by <a class="white-text" href="http://materializecss.com" style="-webkit-box-sizing: inherit;box-sizing: inherit;background-color: transparent;color: #fff !important;text-decoration: none;-webkit-tap-highlight-color: transparent;">NEEWOI</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js" style="-webkit-box-sizing: inherit;box-sizing: inherit;"></script>
  <script src="js/materialize.js" style="-webkit-box-sizing: inherit;box-sizing: inherit;"></script>
  <script src="js/init.js" style="-webkit-box-sizing: inherit;box-sizing: inherit;"></script>

  </body>
</html>
