    <script>

      var placeSearch, id_direction;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {

        id_direction = new google.maps.places.Autocomplete(
           (document.getElementById('id_direction')),
            {types: ['geocode']});

      }

      function fillInAddress() {

        var place = id_directione.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }


        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }


      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            id_direction.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc_0XESNYRDFYASw2ZByucufYKwd0wtTg&libraries=places&callback=initAutocomplete"
        async defer></script>
<!-- <script type="text/javascript">
  var today = new Date();
var year = today.getUTCFullYear()
var mount = today.getUTCMonth()
var day  = today.getDate()
var fecha = year + '-' + (mount + 1) + '-' +( day )     
var fecha2 = year + '-' + (mount + 1) + '-' +( day + 1) 
var hora =  today.getHours()
var minuto = today.getMinutes()

</script> -->
<script type="text/javascript">
function myChangeFunction(){
  
  
  horas =  $("#id_hours" ).val()
  if (horas == '1'){
    $("h5" ).text('$ 30.000')
  }else{
    if (horas == '2') {
      $("h5" ).text('$ 50.000')
    } else {
      if (horas == '3') {
        $("h5" ).text('$ 90.000')
      }else{
        $("h5" ).text('$ 0')
      }
    }
  }
  
  
}

</script>