{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
        <link href="{% static '/css/materialize.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'home/css/web.css' %}" rel="stylesheet" type="text/css"/>
        <title>
            WashMe | Profesionales del aseo al instante
        </title>
        <link href="{% static 'fontawesome/css/font-awesome.css' %}" rel="stylesheet"/>
    </meta>
</meta>
</head>
</html>
