|{% load static %}
{% include 'material/includes/material_css.html' %}
link(rel="stylesheet", type="text/css", href="{% static '/css/materialize.min.css' %}")
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')