|{% load static %}
script(src="{% static '/js/jquery-3.2.1.min.js' %}")
script(src="{% static '/js/materialize.min.js' %}")
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfzcRifICrR8QNg9Va4Xwk7OYliDIpFyI&libraries=places&callback=initAutocomplete', async='', defer='')

script.
  $('.datepicker').pickadate({
  selectMonths: false, // Creates a dropdown to control month
  selectYears: 15, // Creates a dropdown of 15 years to control year,
  today: 'Today',
  clear: 'Clear',
  close: 'Ok',
  closeOnSelect: false, // Close upon selecting a date,
  formatSubmit: 'yyyy-mm-dd',
  format:'yyyy-mm-dd',
  });

  $('.timepicker').pickatime({
    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker
  });
  $(document).ready(function() {
    $('select').material_select();
    //$('#id_time_entry').addClass('timepicker');
  });
    $(document).ready(function(){
    $('.scrollspy').scrollSpy();

  });
script.
  var placeSearch, autocomplete;
  function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
  (document.getElementById('id_direction')),
  {types: ['geocode']});
  //autocomplete.addListener('place_changed', fillInAddress);
  }
  function geolocate() {
  if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
  var geolocation = {
  lat: position.coords.latitude,
  lng: position.coords.longitude
  };
  var circle = new google.maps.Circle({
  center: geolocation,
  radius: position.coords.accuracy
  });
  autocomplete.setBounds(circle.getBounds());
  });
  }
  }