{% load i18n %}
doctype html
| {% load staticfiles %}
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='NEEWOI')
    |{% include 'head_css.pug' %}       
    title
  body
    | {% include 'navbar.pug' %}
    .container
      .starter-template
        h2(style='color: #337ab7') {{ titulo }}
        |{% block content %}
        |{% endblock %}
    | {% include 'javascript.pug' %}
  script(src="{% static '/js/formBot.js' %}") 
  //script(src="{% static 'public/bundle.js' %}")
