//| {% extends "layout.pug" %}
| {% load i18n %}
//| {% load material_form %}
| {% block content %}
.row
  .col.s12
    .card-panel.grey.lighten-4
      form.material(method='post')
        | {% csrf_token %}
        //| {% form form=el_form %}  {% endform %}
        {{ el_form }}
        input.waves-effect.waves-light.btn(type='submit', value='Postular')
| {% endblock %}